<div class="rounded-xl bg-white p-6 my-8 first:mt-2 dark:bg-zinc-800">
  <h2> <%= post.title %> </h2>
  <p> <%= post.content %> </p>
  <div class="flex justify-end">
    <p> <%= post.user.email %> </p>
  </div>
</div>
