<div class="w-full flex justify-between items-center">
  <h1>Home</h1>
  <%= link_to destroy_user_session_path, data: { turbo_method: :delete } do %>
    Logout
  <% end %>
</div>

<h2> Posts </h2>
<% @posts.each do |post| %>
  <div>
    <h2> <%= post.title %> </h2>
    <p> <%= post.content %> </p>
    <p> <%= post.user.email %> </p>
  </div>
<% end %>
